[homing_override]
axes: xyz
set_position_z: 5
gcode:
      G90                                    # Wechsel zu absoluten Positionen
      G1 Z10 F600                             # Sicheres Anheben der Düse (um 5mm auf 10mm, falls `set_position_z` 5 war)
      G91
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  
  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}


[gcode_macro _HOME_X]
gcode:
    # Verwenden Sie immer einen konstanten run_current bei A/B-Stepper während des sensorlosen Homings
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Weg bewegen
    G91
    G1 X-10 F1200 
    # Warte nur eine Sekunde… (gib StallGuard-Registern Zeit zum Löschen.)
    G4 P1000
    # Strom während des Drucks einstellen
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Strom für sensorloses Homing einstellen
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Weg bewegen
    G91
    G1 Y-10 F1200
    # Warte nur eine Sekunde… (gib StallGuard-Registern Zeit zum Löschen)
    G4 P1000
    # Strom während des Drucks einstellen
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    
[gcode_macro _HOME_Z]
gcode:
  G90
    G1 X150 Y150 F4000
    G28 Z
    G1 Z10